body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 1rem;
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 3.1rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 1.3rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
}